<!-- 基础例子 -->
<!-- <basic-demo></basic-demo> -->

<!-- observable demo -->
<!-- <observable-demo></observable-demo> -->

<!-- ngzone demo -->
<!-- <ng-zone-demo></ng-zone-demo> -->

<!-- detection demo -->
<!-- <detection-demo></detection-demo> -->

<!-- markforcheck demo -->
<markforcheck-demo></markforcheck-demo>
<!-- <cmp></cmp> -->

<!-- detech demo -->
<!-- <detech-demo></detech-demo> -->

<!-- reattach demo -->
<!-- <reattach-demo></reattach-demo> -->

<!-- <subscribe-demo></subscribe-demo> -->
